.logo{
    position: fixed;
    top: 25px;
    width: 25%;
}

.container {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    .form-group{
        display: flex;
        flex-flow: column;
        text-align: center;
    }
    .bouton {
        margin-top: 25px;
        text-align: center;
    }
    .inscription-container {
        position: fixed;
        bottom: 50px;
        text-align: center;
    }
}