<ion-content color="primary" [fullscreen]="true">
  <div class="container">
    <div class="logo">
      <img src="assets/icon/logo.png" alt="logo">
    </div>
    <form [formGroup]="loginForm">
      <div class="form-group">
        <ion-item fill="solid">
          <ion-label for="loginEmail" position="floating">Email</ion-label>
          <ion-input type="email" email class="form-control" id="loginEmail" formControlName="loginEmail"></ion-input>
        </ion-item>
      </div>
      <div class="bouton">
        <ion-button color="success" type="submit" (click)="login()" [disabled]="loginForm.invalid">login</ion-button>
      </div>
    </form>
    <div class="inscription-container">
      <p class="inscription">Not on <strong>Social Share</strong> ?</p>
      <ion-button class="bouton-inscription" (click)="goToSignup()">Sign up</ion-button>
    </div>
  </div>
</ion-content>

