.haut {
    position: fixed;
    top: 25px;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    .logo {
        width: 25%;
    }
    h1 {
        margin-top: 0;
        color: #1c8adb;
    }
}

.container {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    .form-group{
        display: flex;
        flex-flow: column;
        text-align: center;
    }
    .bouton {
        margin-top: 25px;
        text-align: center;
    }
}