<ion-content color="primary" [fullscreen]="true">
  <div class="container">
    <form [formGroup]="signupForm">
      <div class="form-group">
        <ion-item fill="solid">
            <ion-label for="signupEmail" position="floating">Email</ion-label>
            <ion-input type="email" email class="form-control" id="signupEmail" formControlName="signupEmail"></ion-input>
        </ion-item>
      </div>
      <div class="bouton">
          <ion-button color="success" type="submit" (click)="signUp()" [disabled]="signupForm.invalid">sign up</ion-button>
      </div>
    </form>
  </div>
</ion-content>
