<ion-content color="primary" [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
    pullingIcon="chevron-down-circle-outline"
    refreshingSpinner="bubbles"
    >
    </ion-refresher-content>
  </ion-refresher>
  <div class="spin" *ngIf="spinner === true">
    <img src="assets/images/Scroll-Down.gif" alt="scroll down">
  </div>
  <app-post *ngFor="let postElement of (post$ | async) as post"  [post]="postElement"></app-post>
</ion-content>
