<ion-content color="primary" [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
    pullingIcon="chevron-down-circle-outline"
    refreshingSpinner="bubbles"
    >
    </ion-refresher-content>
  </ion-refresher>

  <ion-item button *ngFor="let post of (post$ | async)" class="card" color="secondary" href="https://instagram.com/{{ post.insta }}">
    <ion-avatar class="avatar" slot="start">
      <img alt="avatar" src="assets/images/{{ post.avatar }}.svg" />
    </ion-avatar>
    <ion-label class="pseudo">{{ post.insta }}</ion-label>
  </ion-item>
</ion-content>
