.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-avatar {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
    height: 50%;
    --border-radius: 50%;
    filter: drop-shadow(black 4px 4px 8px);

}

ion-range {
    margin: 25px;
}

ion-label {
    display: flex;
    width: 100%;
    justify-content: center;
}

.container-avatar {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    .avatar {
        opacity: 0.4;
        margin: 5px;
        width: 75px;
        height: 75px;
        &:hover {
            opacity: 1;
        }
    }
}