<ion-content color="primary">
  <div class="container">
    <ion-avatar id="open-modal" expand="block">
      <img alt="avatar" src="assets/images/{{ avatar }}.svg"/>
    </ion-avatar>
  </div>
  <ion-range color="secondary" [min]="1" [value]="moveEnd" [max]="50" (ionKnobMoveEnd)="onIonKnobMoveEnd($event)"></ion-range>
  <ion-label>Distance : {{ moveEnd }} km</ion-label>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-content color="primary">
          <div class="container-avatar">
              <ion-avatar (click)="onClick('alien')" class="avatar">
                  <img alt="avatar" src="assets/images/alien.svg"/>
              </ion-avatar>
              <ion-avatar (click)="onClick('avocado')" class="avatar">
                  <img alt="avatar" src="assets/images/avocado.svg"/>
              </ion-avatar>
              <ion-avatar (click)="onClick('batman')" class="avatar">
                  <img alt="avatar" src="assets/images/batman.svg"/>
              </ion-avatar>
              <ion-avatar (click)="onClick('bear')" class="avatar">
                  <img alt="avatar" src="assets/images/bear.svg"/>
              </ion-avatar>
              <ion-avatar (click)="onClick('cactus')" class="avatar">
                  <img alt="avatar" src="assets/images/cactus.svg"/>
              </ion-avatar>
              <ion-avatar (click)="onClick('cloud')" class="avatar">
                  <img alt="avatar" src="assets/images/cloud.svg"/>
              </ion-avatar>
              <ion-avatar (click)="onClick('demon')" class="avatar">
                  <img alt="avatar" src="assets/images/demon.svg"/>
              </ion-avatar>
              <ion-avatar (click)="onClick('harley-quinn')" class="avatar">
                  <img alt="avatar" src="assets/images/harley-quinn.svg"/>
              </ion-avatar>
              <ion-avatar (click)="onClick('heisenberg')" class="avatar">
                  <img alt="avatar" src="assets/images/heisenberg.svg"/>
              </ion-avatar>
              <ion-avatar (click)="onClick('lazy')" class="avatar">
                  <img alt="avatar" src="assets/images/lazy.svg"/>
              </ion-avatar>
              <ion-avatar (click)="onClick('mouton')" class="avatar">
                  <img alt="avatar" src="assets/images/mouton.svg"/>
              </ion-avatar>
              <ion-avatar (click)="onClick('trump')" class="avatar">
                  <img alt="avatar" src="assets/images/trump.svg"/>
              </ion-avatar>
              <ion-avatar (click)="onClick('zombie')" class="avatar">
                  <img alt="avatar" src="assets/images/zombie.svg"/>
              </ion-avatar>
              <ion-avatar (click)="onClick('user1')" class="avatar">
                  <img alt="avatar" src="assets/images/user1.svg"/>
              </ion-avatar>
              <ion-avatar (click)="onClick('user2')" class="avatar">
                  <img alt="avatar" src="assets/images/user2.svg"/>
              </ion-avatar>
              <ion-avatar (click)="onClick('user3')" class="avatar">
                  <img alt="avatar" src="assets/images/user3.svg"/>
              </ion-avatar>
              <ion-avatar (click)="onClick('user4')" class="avatar">
                  <img alt="avatar" src="assets/images/user4.svg"/>
              </ion-avatar>
              <ion-avatar (click)="onClick('user5')" class="avatar">
                  <img alt="avatar" src="assets/images/user5.svg"/>
              </ion-avatar>
              <ion-avatar (click)="onClick('user6')" class="avatar">
                  <img alt="avatar" src="assets/images/user6.svg"/>
              </ion-avatar>
              <ion-avatar (click)="onClick('user7')" class="avatar">
                  <img alt="avatar" src="assets/images/user7.svg"/>
              </ion-avatar>
              <ion-avatar (click)="onClick('user8')" class="avatar">
                  <img alt="avatar" src="assets/images/user8.svg"/>
              </ion-avatar>
              <ion-avatar (click)="onClick('user9')" class="avatar">
                  <img alt="avatar" src="assets/images/user9.svg"/>
              </ion-avatar>
              <ion-avatar (click)="onClick('user10')" class="avatar">
                  <img alt="avatar" src="assets/images/user10.svg"/>
              </ion-avatar>
              <ion-avatar (click)="onClick('user11')" class="avatar">
                  <img alt="avatar" src="assets/images/user11.svg"/>
              </ion-avatar>
          </div>
      </ion-content>
      
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
