.container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    .avatar {
        margin: 5px;
        width: 75px;
        height: 75px;
    }

}